In [1]:
%run  "./env_setup.py"

/home/jonahs23/networkInstrusion/.env
User:  jonahs23
Database:  postgresql://jonahs23:DataSci23@ads1.datasci.vt.edu:5432/ads_db5

In [2]:
%%sql
drop table if exists {username}.network_traffic_history_itd;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.

[]

In [3]:
%%sql
-- table for intrusion detection
create table {username}.network_traffic_history_itd as
select *,
        CASE
          WHEN is_weekend='TRUE' OR hour_of_day < 9 OR hour_of_day > 17 
          THEN 1
          ELSE 0
        END AS off_hours
    FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
4999980 rows affected.

[]

In [4]:
%%sql
SELECT * 
FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 2), '172.27.191.134', '192.168.237.151', 9491, 443, 'ICMP', 24.831519286136224, 42, 37218, 886.1428571428571, 1.6913987225682632, 'RST', 'HTTPS', 'Normal', 1, 'True', 0, 5, 1.4988208965844196, 0.0, 1, 1, 1)]

In [5]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_internal_source INTEGER,
ADD COLUMN is_internal_dest INTEGER,
ADD COLUMN internal_only INTEGER,
ADD COLUMN external_only INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    is_internal_source = CASE 
        WHEN source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    is_internal_dest = CASE 
        WHEN dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    internal_only = CASE 
        WHEN (source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         AND (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%')
        THEN 1
        ELSE 0
    END,
    external_only = CASE 
        WHEN NOT ((source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         OR (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'))
        THEN 1
        ELSE 0
    END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [6]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 6, 1, 23, 59, 59), '10.146.115.182', '172.23.229.199', 53032, 25, 'ICMP', 29.0120963547636, 43, 25311, 588.6279069767442, 1.482140396688007, 'URG', 'SMTP', 'Normal', 1, 'True', 23, 6, 0.8724291995481429, 0.0, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1, 1, 1, 1, 0)]

In [7]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE external_only = 1

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
0 rows affected.

[]

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE ext_transfer = 1
LIMIT 5;

In [8]:
%%sql
-- Drop table if it exists
DROP TABLE IF EXISTS {username}.phishing_data;

-- Create the table with the new column
CREATE TABLE {username}.phishing_data AS
SELECT
    *,
    CASE 
        WHEN attack_state = 'Phishing' THEN TRUE
        ELSE FALSE
    END AS is_phishing
FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [9]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_itd INTEGER;

UPDATE {username}.network_traffic_history_itd
SET is_itd = CASE 
    WHEN attack_state = 'Insider_Threat' THEN 1
    ELSE 0
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [10]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 6, 1, 23, 59, 59), '10.146.115.182', '172.23.229.199', 53032, 25, 'ICMP', 29.0120963547636, 43, 25311, 588.6279069767442, 1.482140396688007, 'URG', 'SMTP', 'Normal', 1, 'True', 23, 6, 0.8724291995481429, 0.0, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1, 1, 1, 1, 0, 0)]

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE (service = 'MongoDB' 
OR service = 'HTTPS' 
OR service = 'HTTP' 
OR service = 'FTP' 
OR service = 'DNS'
OR service = 'SMTP'
OR service = 'SSH'
OR service = 'Telnet'
)
AND is_internal_dest = 1 
AND off_hours = 1
AND duration < 10
AND packets > (SELECT avg(packets) FROM {username}.network_traffic_history_itd)

In [11]:
%%sql
-- Compare attack types by time of day
SELECT 
    attack_state,
    CASE 
        WHEN hour_of_day >= 9 AND hour_of_day <= 17 THEN 'Business Hours'
        ELSE 'Off Hours'
    END AS time_period,
    COUNT(*) AS incident_count,
    AVG(bytes) AS avg_bytes,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY bytes) AS median_bytes
FROM {username}.network_traffic_history_itd
GROUP BY attack_state, time_period
ORDER BY attack_state, time_period;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
13 rows affected.

[('APT', 'Off Hours', 444, Decimal('98702.889639639640'), 97341.0),
 ('Brute_Force', 'Off Hours', 21792, Decimal('3998.8981736417033774'), 3875.0),
 ('Data_Exfiltration', 'Off Hours', 2714, Decimal('14016071.005526897568'), 14042355.0),
 ('DDoS', 'Off Hours', 10789, Decimal('31972.356752247660'), 32008.0),
 ('Insider_Threat', 'Off Hours', 1839, Decimal('99845.196846112017'), 98644.0),
 ('Malware', 'Off Hours', 3648, Decimal('120205.343750000000'), 119542.0),
 ('Normal', 'Business Hours', 1876293, Decimal('40026.127626655325'), 39391.0),
 ('Normal', 'Off Hours', 3032086, Decimal('40001.033758607111'), 39357.0),
 ('Phishing', 'Off Hours', 7233, Decimal('100462.499792617171'), 100293.0),
 ('Port_Scan', 'Off Hours', 36181, Decimal('320.1708631602222161'), 303.0),
 ('Ransomware', 'Off Hours', 1166, Decimal('97701.196397941681'), 97235.0),
 ('SQL_Injection', 'Off Hours', 5360, Decimal('35948.162686567164'), 35215.0),
 ('Zero_Day', 'Off Hours', 435, Decimal('98602.857471264368'), 96738.0)]

In [12]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS time_period VARCHAR(20);

UPDATE {username}.network_traffic_history_itd
SET time_period = CASE
    WHEN hour_of_day >= 0 AND hour_of_day < 4 THEN 'very_late'       -- 12am-4am (highest risk)
    WHEN hour_of_day >= 4 AND hour_of_day < 6 THEN 'late_night'      -- 4am-6am
    WHEN hour_of_day >= 6 AND hour_of_day < 8 THEN 'early_morning'   -- 6am-8am
    WHEN hour_of_day >= 8 AND hour_of_day < 9 THEN 'morning_start'   -- 8am-9am
    WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 'work_morning'   -- 9am-12pm
    WHEN hour_of_day >= 12 AND hour_of_day < 13 THEN 'lunch_hour'    -- 12pm-1pm
    WHEN hour_of_day >= 13 AND hour_of_day < 17 THEN 'work_afternoon'-- 1pm-5pm
    WHEN hour_of_day >= 17 AND hour_of_day < 18 THEN 'work_end'      -- 5pm-6pm
    WHEN hour_of_day >= 18 AND hour_of_day < 20 THEN 'evening'       -- 6pm-8pm
    WHEN hour_of_day >= 20 AND hour_of_day < 22 THEN 'night'         -- 8pm-10pm
    WHEN hour_of_day >= 22 AND hour_of_day < 24 THEN 'late'          -- 10pm-12am
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [13]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS scaled_bytes_per_packet FLOAT,
ADD COLUMN IF NOT EXISTS scaled_packets_per_second FLOAT;

UPDATE {username}.network_traffic_history_itd
SET 
    scaled_bytes_per_packet = 
        (bytes_per_packet - (SELECT MIN(bytes_per_packet) 
                             FROM {username}.network_traffic_history_itd 
                             )) 
        / 
        NULLIF((SELECT MAX(bytes_per_packet) 
                FROM {username}.network_traffic_history_itd 
                ) - 
               (SELECT MIN(bytes_per_packet) 
                FROM {username}.network_traffic_history_itd 
                ), 0),
    
    scaled_packets_per_second = 
        (packets / duration - (SELECT MIN(packets / duration) 
                               FROM {username}.network_traffic_history_itd 
                               )) 
        / 
        NULLIF((SELECT MAX(packets / duration) 
                FROM {username}.network_traffic_history_itd 
                ) - 
               (SELECT MIN(packets / duration) 
                FROM {username}.network_traffic_history_itd 
                ), 0)

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [14]:
%%sql
SELECT 
    source_ip,
    attack_state,
    bytes_per_packet,
    scaled_bytes_per_packet,
    packets / duration as packets_per_second,
    scaled_packets_per_second,
    off_hours
FROM {username}.network_traffic_history_itd
WHERE  attack_state = 'Insider_Threat'
LIMIT 10;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
10 rows affected.

[('125.105.239.87', 'Insider_Threat', 1318.9213483146068, 0.5931356526604081, 40.38637476973131, 3.955122463148235e-05, 1),
 ('178.83.215.111', 'Insider_Threat', 622.6923076923077, 0.2797950523744053, 57.42418522435393, 5.624605624310243e-05, 1),
 ('128.175.191.101', 'Insider_Threat', 1121.2626262626263, 0.5041785724383969, 33.93744583911253, 3.323211556176177e-05, 1),
 ('131.36.136.230', 'Insider_Threat', 1763.8484848484848, 0.793376849035164, 121.80790341683056, 0.00011933370102094231, 1),
 ('215.114.204.122', 'Insider_Threat', 436.65686274509807, 0.19606907343200192, 33.96528199772353, 3.3259391365889465e-05, 1),
 ('43.114.0.68', 'Insider_Threat', 951.2022471910112, 0.4276422343167688, 65.66975933195157, 6.432564320846441e-05, 1),
 ('73.211.224.136', 'Insider_Threat', 865.3666666666667, 0.3890115958944533, 25.726023552521625, 2.5185992925778023e-05, 1),
 ('146.170.181.81', 'Insider_Threat', 1034.525, 0.46514196480677356, 36.23376890580225, 3.548221260482769e-05, 1),
 ('78.53.211.69', 'Insider_Threat', 431.5531914893617, 0.19377214624047673, 36.887856024542174, 3.6123132653549684e-05, 1),
 ('78.199.48.192', 'Insider_Threat', 1041.9901960784314, 0.468501705472543, 61.549481917075646, 6.0288308844537885e-05, 1)]

In [15]:
%%sql
SELECT DISTINCT attack_state FROM {username}.network_traffic_history_itd

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
12 rows affected.

[('APT',),
 ('Brute_Force',),
 ('Data_Exfiltration',),
 ('DDoS',),
 ('Insider_Threat',),
 ('Malware',),
 ('Normal',),
 ('Phishing',),
 ('Port_Scan',),
 ('Ransomware',),
 ('SQL_Injection',),
 ('Zero_Day',)]

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE (service = 'MongoDB' 
OR service = 'HTTPS' 
OR service = 'HTTP' 
OR service = 'FTP' 
OR service = 'DNS'
OR service = 'SMTP'
OR service = 'SSH'
OR service = 'Telnet'
)
AND is_internal_dest = 1 
AND off_hours = 1
AND duration < 10
AND packets > (SELECT avg(packets) FROM {username}.network_traffic_history_itd)
AND time_period IN ('late', 'very_late', 'late_night')
LIMIT 5;

In [16]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS time_period_ordinal INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    time_period = CASE
        WHEN hour_of_day >= 0 AND hour_of_day < 6 THEN 'late_night'
        WHEN hour_of_day >= 6 AND hour_of_day < 9 THEN 'early_morning'
        WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 'morning'
        WHEN hour_of_day >= 12 AND hour_of_day < 17 THEN 'afternoon'
        WHEN hour_of_day >= 17 AND hour_of_day < 20 THEN 'evening'
        WHEN hour_of_day >= 20 AND hour_of_day < 24 THEN 'night'
    END,
    time_period_ordinal = CASE
        WHEN hour_of_day >= 0 AND hour_of_day < 6 THEN 1   -- late_night (highest suspicion)
        WHEN hour_of_day >= 6 AND hour_of_day < 9 THEN 2   -- early_morning
        WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 3  -- morning (normal)
        WHEN hour_of_day >= 12 AND hour_of_day < 17 THEN 4 -- afternoon (normal)
        WHEN hour_of_day >= 17 AND hour_of_day < 20 THEN 5 -- evening
        WHEN hour_of_day >= 20 AND hour_of_day < 24 THEN 6 -- night (suspicious)
    END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [17]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS bpp_pps_interaction FLOAT;

UPDATE {username}.network_traffic_history_itd
SET bpp_pps_interaction = scaled_bytes_per_packet * scaled_packets_per_second 
  WHERE scaled_bytes_per_packet IS NOT NULL 
  AND scaled_packets_per_second IS NOT NULL;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [18]:
%%sql
-- Multiple interaction terms that might be predictive
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS bpp_pps_interaction FLOAT,
ADD COLUMN IF NOT EXISTS bpp_pps_ratio FLOAT,
ADD COLUMN IF NOT EXISTS threat_score FLOAT;

UPDATE {username}.network_traffic_history_itd
SET 
    -- Simple multiplication interaction
    bpp_pps_interaction = scaled_bytes_per_packet * scaled_packets_per_second,
    
    -- Ratio (how many times larger BPP is compared to PPS)
    bpp_pps_ratio = CASE 
        WHEN scaled_packets_per_second > 0 
        THEN scaled_bytes_per_packet / scaled_packets_per_second
        ELSE 0
    END,
    
    -- Custom threat score (high BPP, low PPS = high score)
    threat_score = CASE
        WHEN scaled_packets_per_second > 0
        THEN scaled_bytes_per_packet / SQRT(scaled_packets_per_second)
        ELSE 0
    END

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [19]:
%%sql
select * from {username}.network_traffic_history_itd
limit 1;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
1 rows affected.

[(datetime.datetime(2025, 5, 18, 10, 53, 14), '172.30.94.202', '10.175.201.92', 2934, 443, 'UDP', 5.616555051815913, 53, 34610, 653.0188679245283, 9.436389301100919, 'FIN', 'HTTPS', 'Normal', 1, 'True', 10, 6, 6.162140258700052, 246.3572187414548, 1, 2, 0, 1, 1, 1, 0, 0, 'morning', 0.29344363930964734, 9.224276391447003e-06, 3, 2.7068052343042697e-06, 31812.103937143096, 96.61811193255657)]

In [20]:
%%sql
select * from {username}.network_traffic_history_itd
WHERE  scaled_bytes_per_packet IS NULL 
  AND scaled_packets_per_second IS  NULL;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
0 rows affected.

[]