In [2]:
%run  "./env_setup.py"

/home/jonahs23/networkInstrusion/.env
User:  jonahs23
Database:  postgresql://jonahs23:DataSci23@ads1.datasci.vt.edu:5432/ads_db5

In [ ]:
%%sql
drop table if exists {username}.network_traffic_history_itd;

create table {username}.network_traffic_history_itd as
select *,
        CASE
          WHEN is_weekend='TRUE' OR hour_of_day < 9 OR hour_of_day > 17 
          THEN 1
          ELSE 0
        END AS off_hours
    FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [5]:
%%sql
SELECT * 
FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 2), '172.27.191.134', '192.168.237.151', 9491, 443, 'ICMP', 24.831519286136224, 42, 37218, 886.1428571428571, 1.6913987225682632, 'RST', 'HTTPS', 'Normal', 1, 'True', 0, 5, 1.4988208965844196, 0.0, 1, 1, 1)]