In [1]:
%run  "./env_setup.py"

/home/jonahs23/networkInstrusion/.env
User:  jonahs23
Database:  postgresql://jonahs23:DataSci23@ads1.datasci.vt.edu:5432/ads_db5

### **Phishing Data Prep**

In [ ]:
%%sql
-- Drop table if it exists
DROP TABLE IF EXISTS {username}.phishing_data;

-- Create the table with the new column
CREATE TABLE {username}.phishing_data AS
SELECT
    *,
    CASE 
        WHEN attack_state = 'Phishing' THEN TRUE
        ELSE FALSE
    END AS is_phishing
FROM {username}.network_traffic_history;

### **Insider Threat Detection**

In [ ]:
%%sql
drop table if exists {username}.network_traffic_history_itd;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.

[]

In [3]:
%%sql
-- table for intrusion detection
create table {username}.network_traffic_history_itd as
select *,
        CASE
          WHEN is_weekend='TRUE' OR hour_of_day < 9 OR hour_of_day > 17 
          THEN 1
          ELSE 0
        END AS off_hours
    FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5

4999980 rows affected.

[]

In [5]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_internal_source INTEGER,
ADD COLUMN is_internal_dest INTEGER,
ADD COLUMN internal_only INTEGER,
ADD COLUMN external_only INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    is_internal_source = CASE 
        WHEN source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    is_internal_dest = CASE 
        WHEN dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    internal_only = CASE 
        WHEN (source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         AND (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%')
        THEN 1
        ELSE 0
    END,
    external_only = CASE 
        WHEN NOT ((source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         OR (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'))
        THEN 1
        ELSE 0
    END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [9]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_itd INTEGER;

UPDATE {username}.network_traffic_history_itd
SET is_itd = CASE 
    WHEN attack_state = 'Insider_Threat' THEN 1
    ELSE 0
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE (service = 'MongoDB' 
OR service = 'HTTPS' 
OR service = 'HTTP' 
OR service = 'FTP' 
OR service = 'DNS'
OR service = 'SMTP'
OR service = 'SSH'
OR service = 'Telnet'
)
AND is_internal_dest = 1 
AND off_hours = 1
AND duration < 10
AND packets > (SELECT avg(packets) FROM {username}.network_traffic_history_itd)

In [11]:
%%sql
-- Compare attack types by time of day
SELECT 
    attack_state,
    CASE 
        WHEN hour_of_day >= 9 AND hour_of_day <= 17 THEN 'Business Hours'
        ELSE 'Off Hours'
    END AS time_period,
    COUNT(*) AS incident_count,
    AVG(bytes) AS avg_bytes,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY bytes) AS median_bytes
FROM {username}.network_traffic_history_itd
GROUP BY attack_state, time_period
ORDER BY attack_state, time_period;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
13 rows affected.

[('APT', 'Off Hours', 444, Decimal('98702.889639639640'), 97341.0),
 ('Brute_Force', 'Off Hours', 21792, Decimal('3998.8981736417033774'), 3875.0),
 ('Data_Exfiltration', 'Off Hours', 2714, Decimal('14016071.005526897568'), 14042355.0),
 ('DDoS', 'Off Hours', 10789, Decimal('31972.356752247660'), 32008.0),
 ('Insider_Threat', 'Off Hours', 1839, Decimal('99845.196846112017'), 98644.0),
 ('Malware', 'Off Hours', 3648, Decimal('120205.343750000000'), 119542.0),
 ('Normal', 'Business Hours', 1876293, Decimal('40026.127626655325'), 39391.0),
 ('Normal', 'Off Hours', 3032086, Decimal('40001.033758607111'), 39357.0),
 ('Phishing', 'Off Hours', 7233, Decimal('100462.499792617171'), 100293.0),
 ('Port_Scan', 'Off Hours', 36181, Decimal('320.1708631602222161'), 303.0),
 ('Ransomware', 'Off Hours', 1166, Decimal('97701.196397941681'), 97235.0),
 ('SQL_Injection', 'Off Hours', 5360, Decimal('35948.162686567164'), 35215.0),
 ('Zero_Day', 'Off Hours', 435, Decimal('98602.857471264368'), 96738.0)]

In [12]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS time_period VARCHAR(20);

UPDATE {username}.network_traffic_history_itd
SET time_period = CASE
    WHEN hour_of_day >= 0 AND hour_of_day < 4 THEN 'very_late'       -- 12am-4am (highest risk)
    WHEN hour_of_day >= 4 AND hour_of_day < 6 THEN 'late_night'      -- 4am-6am
    WHEN hour_of_day >= 6 AND hour_of_day < 8 THEN 'early_morning'   -- 6am-8am
    WHEN hour_of_day >= 8 AND hour_of_day < 9 THEN 'morning_start'   -- 8am-9am
    WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 'work_morning'   -- 9am-12pm
    WHEN hour_of_day >= 12 AND hour_of_day < 13 THEN 'lunch_hour'    -- 12pm-1pm
    WHEN hour_of_day >= 13 AND hour_of_day < 17 THEN 'work_afternoon'-- 1pm-5pm
    WHEN hour_of_day >= 17 AND hour_of_day < 18 THEN 'work_end'      -- 5pm-6pm
    WHEN hour_of_day >= 18 AND hour_of_day < 20 THEN 'evening'       -- 6pm-8pm
    WHEN hour_of_day >= 20 AND hour_of_day < 22 THEN 'night'         -- 8pm-10pm
    WHEN hour_of_day >= 22 AND hour_of_day < 24 THEN 'late'          -- 10pm-12am
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [13]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS scaled_bytes_per_packet FLOAT,
ADD COLUMN IF NOT EXISTS scaled_packets_per_second FLOAT;

UPDATE {username}.network_traffic_history_itd
SET 
    scaled_bytes_per_packet = 
        (bytes_per_packet - (SELECT MIN(bytes_per_packet) 
                             FROM {username}.network_traffic_history_itd 
                             )) 
        / 
        NULLIF((SELECT MAX(bytes_per_packet) 
                FROM {username}.network_traffic_history_itd 
                ) - 
               (SELECT MIN(bytes_per_packet) 
                FROM {username}.network_traffic_history_itd 
                ), 0),
    
    scaled_packets_per_second = 
        (packets / duration - (SELECT MIN(packets / duration) 
                               FROM {username}.network_traffic_history_itd 
                               )) 
        / 
        NULLIF((SELECT MAX(packets / duration) 
                FROM {username}.network_traffic_history_itd 
                ) - 
               (SELECT MIN(packets / duration) 
                FROM {username}.network_traffic_history_itd 
                ), 0)

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [16]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS time_period_ordinal INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    time_period = CASE
        WHEN hour_of_day >= 0 AND hour_of_day < 6 THEN 'late_night'
        WHEN hour_of_day >= 6 AND hour_of_day < 9 THEN 'early_morning'
        WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 'morning'
        WHEN hour_of_day >= 12 AND hour_of_day < 17 THEN 'afternoon'
        WHEN hour_of_day >= 17 AND hour_of_day < 20 THEN 'evening'
        WHEN hour_of_day >= 20 AND hour_of_day < 24 THEN 'night'
    END,
    time_period_ordinal = CASE
        WHEN hour_of_day >= 0 AND hour_of_day < 6 THEN 1   -- late_night (highest suspicion)
        WHEN hour_of_day >= 6 AND hour_of_day < 9 THEN 2   -- early_morning
        WHEN hour_of_day >= 9 AND hour_of_day < 12 THEN 3  -- morning (normal)
        WHEN hour_of_day >= 12 AND hour_of_day < 17 THEN 4 -- afternoon (normal)
        WHEN hour_of_day >= 17 AND hour_of_day < 20 THEN 5 -- evening
        WHEN hour_of_day >= 20 AND hour_of_day < 24 THEN 6 -- night (suspicious)
    END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [17]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS bpp_pps_interaction FLOAT;

UPDATE {username}.network_traffic_history_itd
SET bpp_pps_interaction = scaled_bytes_per_packet * scaled_packets_per_second 
  WHERE scaled_bytes_per_packet IS NOT NULL 
  AND scaled_packets_per_second IS NOT NULL;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [18]:
%%sql
-- Multiple interaction terms that might be predictive
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS bpp_pps_interaction FLOAT,
ADD COLUMN IF NOT EXISTS bpp_pps_ratio FLOAT,
ADD COLUMN IF NOT EXISTS threat_score FLOAT;

UPDATE {username}.network_traffic_history_itd
SET 
    -- Simple multiplication interaction
    bpp_pps_interaction = scaled_bytes_per_packet * scaled_packets_per_second,
    
    -- Ratio (how many times larger BPP is compared to PPS)
    bpp_pps_ratio = CASE 
        WHEN scaled_packets_per_second > 0 
        THEN scaled_bytes_per_packet / scaled_packets_per_second
        ELSE 0
    END,
    
    -- Custom threat score (high BPP, low PPS = high score)
    threat_score = CASE
        WHEN scaled_packets_per_second > 0
        THEN scaled_bytes_per_packet / SQRT(scaled_packets_per_second)
        ELSE 0
    END

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [22]:
%%sql
-- Create new table with features
CREATE TABLE network_traffic_history_itd_new AS
SELECT *,
    PERCENT_RANK() OVER (ORDER BY bytes) * 100 AS bytes_percentile,
    PERCENT_RANK() OVER (ORDER BY duration) * 100 AS duration_percentile,
    PERCENT_RANK() OVER (ORDER BY packets) * 100 AS packets_percentile,
    PERCENT_RANK() OVER (ORDER BY bytes_per_packet) * 100 AS bpp_percentile,
    CASE WHEN PERCENT_RANK() OVER (ORDER BY bytes) * 100 > 95 
           OR PERCENT_RANK() OVER (ORDER BY bytes) * 100 < 5 
         THEN 1 ELSE 0 END AS is_extreme_bytes,
    CASE WHEN PERCENT_RANK() OVER (ORDER BY duration) * 100 > 95 
           OR PERCENT_RANK() OVER (ORDER BY duration) * 100 < 5 
         THEN 1 ELSE 0 END AS is_extreme_duration,
    CASE WHEN PERCENT_RANK() OVER (ORDER BY packets) * 100 > 95 
           OR PERCENT_RANK() OVER (ORDER BY packets) * 100 < 5 
         THEN 1 ELSE 0 END AS is_extreme_packets
FROM network_traffic_history_itd;

-- Drop old table and rename
DROP TABLE network_traffic_history_itd;
ALTER TABLE network_traffic_history_itd_new RENAME TO network_traffic_history_itd;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
4999980 rows affected.
Done.
Done.

[]

### **APT Data Preparation**

In [23]:
%%sql
drop table if exists {username}.network_traffic_history_apt;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.

[]

In [24]:
%%sql
-- table for APT
create table {username}.network_traffic_history_apt as
select *
    FROM {username}.network_traffic_history_itd;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
4999980 rows affected.

[]

In [25]:
%%sql
ALTER TABLE {username}.network_traffic_history_apt
ADD COLUMN is_apt INTEGER;
UPDATE {username}.network_traffic_history_apt
SET is_apt = CASE 
    WHEN attack_state = 'APT' THEN 1
    ELSE 0
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [27]:
%%sql
SELECT COUNT(*) 
FROM {username}.network_traffic_history_apt 
WHERE is_apt = 1

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
1 rows affected.

[(444,)]