In [22]:
%run  "./env_setup.py"

/home/jonahs23/networkInstrusion/.env
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
User:  jonahs23
Database:  postgresql://jonahs23:DataSci23@ads1.datasci.vt.edu:5432/ads_db5

In [23]:
%%sql
drop table if exists {username}.network_traffic_history_itd;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.

[]

In [24]:
%%sql
create table {username}.network_traffic_history_itd as
select *,
        CASE
          WHEN is_weekend='TRUE' OR hour_of_day < 9 OR hour_of_day > 17 
          THEN 1
          ELSE 0
        END AS off_hours
    FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
4999980 rows affected.

[]

In [25]:
%%sql
SELECT * 
FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 2), '172.27.191.134', '192.168.237.151', 9491, 443, 'ICMP', 24.831519286136224, 42, 37218, 886.1428571428571, 1.6913987225682632, 'RST', 'HTTPS', 'Normal', 1, 'True', 0, 5, 1.4988208965844196, 0.0, 1, 1, 1)]

In [26]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_internal_source INTEGER,
ADD COLUMN is_internal_dest INTEGER,
ADD COLUMN internal_only INTEGER,
ADD COLUMN external_only INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    is_internal_source = CASE 
        WHEN source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    is_internal_dest = CASE 
        WHEN dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    internal_only = CASE 
        WHEN (source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         AND (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%')
        THEN 1
        ELSE 0
    END,
    external_only = CASE 
        WHEN NOT ((source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         OR (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'))
        THEN 1
        ELSE 0
    END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [33]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 6, 1, 23, 59, 59), '10.146.115.182', '172.23.229.199', 53032, 25, 'ICMP', 29.0120963547636, 43, 25311, 588.6279069767442, 1.482140396688007, 'URG', 'SMTP', 'Normal', 1, 'True', 23, 6, 0.8724291995481429, 0.0, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1, 1, 1, 1, 0, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1, 1, 1, 1, 0, 0)]

In [28]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE external_only = 1

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
0 rows affected.

[]

In [29]:
%%sql 
alter table {username}.network_traffic_history_itd  drop column ext_transfer;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
(psycopg2.errors.UndefinedColumn) column "ext_transfer" of relation "network_traffic_history_itd" does not exist

[SQL: alter table jonahs23.network_traffic_history_itd  drop column ext_transfer;]
(Background on this error at: https://sqlalche.me/e/20/f405)

%%sql
-- Step 1: Ensure indexes exist FIRST (CRITICAL for performance)
CREATE INDEX IF NOT EXISTS idx_relay_dest_packets 
ON {username}.network_traffic_history_itd(dest_ip, packets, is_internal_dest, timestamp);

CREATE INDEX IF NOT EXISTS idx_relay_source_packets 
ON {username}.network_traffic_history_itd(source_ip, packets, is_internal_dest, timestamp);

-- Step 2: Add column if not exists
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS ext_transfer INTEGER DEFAULT 0;

-- Step 3: Single UPDATE using self-join (no cursor, set-based)
UPDATE {username}.network_traffic_history_itd t1
SET ext_transfer = 1
FROM {username}.network_traffic_history_itd t2
WHERE t1.dest_ip = t2.source_ip                           -- Destination becomes source
  AND t1.is_internal_dest = 1                             -- t1: to internal
  AND t2.is_internal_dest = 0                             -- t2: to external
  AND t1.ext_transfer = 0;                                -- Only update unset rows

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE ext_transfer = 1
LIMIT 5;

In [30]:
%%sql 
alter table {username}.network_traffic_history_itd  drop column type_data_volume;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
(psycopg2.errors.UndefinedColumn) column "type_data_volume" of relation "network_traffic_history_itd" does not exist

[SQL: alter table jonahs23.network_traffic_history_itd  drop column type_data_volume;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [31]:
%%sql
-- Drop table if it exists
DROP TABLE IF EXISTS {username}.phishing_data;

-- Create the table with the new column
CREATE TABLE {username}.phishing_data AS
SELECT
    *,
    CASE 
        WHEN attack_state = 'Phishing' THEN TRUE
        ELSE FALSE
    END AS is_phishing
FROM {username}.network_traffic_history;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [32]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN high_data_volume INTEGER;

UPDATE {username}.network_traffic_history_itd
SET high_data_volume = CASE 
    WHEN off_hours = 1 
     AND is_internal_source = 1 
     AND bytes > (SELECT AVG(bytes) * 2 
                  FROM {username}.network_traffic_history_itd
                  WHERE off_hours = 1 AND is_internal_source = 1)
    THEN 1
    ELSE 0
END;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [40]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE high_data_volume = 1
LIMIT 5;

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 3, 7), '192.168.160.14', '192.168.19.42', 52277, 443, 'TCP', 2.540076032188672, 68, 80643, 1185.9264705882354, 26.770852186423483, 'PSH', 'HTTPS', 'Normal', 1, 'True', 0, 5, 31.74826224808454, 223.5432824442322, 1, 11, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 3, 0, 7, 44), '10.17.230.220', '10.79.183.55', 3739, 443, 'TCP', 7.454472204528113, 66, 81851, 1240.1666666666667, 8.853745535453099, 'SYN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 10.980120088217753, 0.0, 1, 1, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 3, 0, 9, 43), '172.36.97.87', '10.4.175.23', 46327, 53, 'TCP', 16.14369676501395, 216, 119118, 551.4722222222222, 13.379835061576948, 'RST', 'DNS', 'Malware', 3, 'True', 0, 5, 7.378607374374644, 0.0, 1, 1, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 3, 0, 20, 29), '192.168.254.218', '172.16.9.197', 51734, 22, 'TCP', 6.940838606246227, 59, 83371, 1413.0677966101696, 8.500413760796064, 'PSH', 'SSH', 'Normal', 1, 'True', 0, 5, 12.011660943242859, 277.5608833865258, 1, 7, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 3, 0, 24, 25), '192.168.141.44', '172.30.246.219', 7592, 27017, 'TCP', 3.2322040428398835, 61, 80716, 1323.2131147540983, 18.872570911830213, 'SYN', 'MongoDB', 'Normal', 1, 'True', 0, 5, 24.972433339660448, 221.64332222200127, 1, 7, 1, 1, 1, 1, 0, 1)]

In [38]:
%%sql
SELECT COUNT(DISTINCT source_ip )FROM {username}.network_traffic_history_itd
WHERE high_data_volume = 1

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
1 rows affected.

[(2918,)]