In [1]:
%run  "./env_setup.py"

/home/rowanm/datasci_business/final_project/networkInstrusion/.env
User:  rowanm
Database:  postgresql://rowanm:bestPasswordEver1234@ads1.datasci.vt.edu:5432/ads_db5

In [2]:
%%sql
drop table if exists {username}.network_traffic_history_itd;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
Done.

[]

In [ ]:
%%sql
# table for intrusion detection
create table {username}.network_traffic_history_itd as
select *,
        CASE
          WHEN is_weekend='TRUE' OR hour_of_day < 9 OR hour_of_day > 17 
          THEN 1
          ELSE 0
        END AS off_hours
    FROM {username}.network_traffic_history;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
4999980 rows affected.

[]

In [4]:
%%sql
SELECT * 
FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1),
 (datetime.datetime(2025, 5, 3, 0, 0, 2), '172.27.191.134', '192.168.237.151', 9491, 443, 'ICMP', 24.831519286136224, 42, 37218, 886.1428571428571, 1.6913987225682632, 'RST', 'HTTPS', 'Normal', 1, 'True', 0, 5, 1.4988208965844196, 0.0, 1, 1, 1)]

In [5]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN is_internal_source INTEGER,
ADD COLUMN is_internal_dest INTEGER,
ADD COLUMN internal_only INTEGER,
ADD COLUMN external_only INTEGER;

UPDATE {username}.network_traffic_history_itd
SET 
    is_internal_source = CASE 
        WHEN source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    is_internal_dest = CASE 
        WHEN dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'
        THEN 1
        ELSE 0
    END,
    
    internal_only = CASE 
        WHEN (source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         AND (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%')
        THEN 1
        ELSE 0
    END,
    external_only = CASE 
        WHEN NOT ((source_ip LIKE '192.%' OR source_ip LIKE '172.%' OR source_ip LIKE '10.%')
         OR (dest_ip LIKE '192.%' OR dest_ip LIKE '172.%' OR dest_ip LIKE '10.%'))
        THEN 1
        ELSE 0
    END;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [6]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
LIMIT 5;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 3, 0, 0), '10.105.90.240', '10.2.137.106', 30797, 27017, 'TCP', 9.735717534853025, 70, 75231, 1074.7285714285715, 7.1900196107175525, 'RST', 'MongoDB', 'Normal', 1, 'True', 0, 5, 7.727319504769889, 0.0, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0), '172.22.51.179', '192.168.85.218', 43852, 25, 'UDP', 11.6165639372005, 47, 30801, 655.3404255319149, 4.0459468267969285, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.6514725151526, 129.05103809638803, 1, 2, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '172.25.234.43', '192.168.150.181', 21956, 25, 'TCP', 21.216729149265714, 57, 57941, 1016.5087719298245, 2.686559252323429, 'SYN', 'SMTP', 'Normal', 1, 'True', 0, 5, 2.7309110462959967, 217.5136916591087, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 1), '10.209.50.247', '10.0.122.90', 36284, 443, 'TCP', 1.4578453657250603, 58, 42479, 732.3965517241379, 39.78474079872913, 'FIN', 'HTTPS', 'Normal', 1, 'True', 0, 5, 29.138206972227845, 0.0, 1, 1, 1, 1, 1, 1, 0),
 (datetime.datetime(2025, 5, 3, 0, 0, 2), '172.27.191.134', '192.168.237.151', 9491, 443, 'ICMP', 24.831519286136224, 42, 37218, 886.1428571428571, 1.6913987225682632, 'RST', 'HTTPS', 'Normal', 1, 'True', 0, 5, 1.4988208965844196, 0.0, 1, 1, 1, 1, 1, 1, 0)]

In [28]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE external_only = 1

 * postgresql://jonahs23:***@ads1.datasci.vt.edu:5432/ads_db5
0 rows affected.

[]

%%sql
-- Step 1: Ensure indexes exist FIRST (CRITICAL for performance)
CREATE INDEX IF NOT EXISTS idx_relay_dest_packets 
ON {username}.network_traffic_history_itd(dest_ip, packets, is_internal_dest, timestamp);

CREATE INDEX IF NOT EXISTS idx_relay_source_packets 
ON {username}.network_traffic_history_itd(source_ip, packets, is_internal_dest, timestamp);

-- Step 2: Add column if not exists
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN IF NOT EXISTS ext_transfer INTEGER DEFAULT 0;

-- Step 3: Single UPDATE using self-join (no cursor, set-based)
UPDATE {username}.network_traffic_history_itd t1
SET ext_transfer = 1
FROM {username}.network_traffic_history_itd t2
WHERE t1.dest_ip = t2.source_ip                           -- Destination becomes source
  AND t1.is_internal_dest = 1                             -- t1: to internal
  AND t2.is_internal_dest = 0                             -- t2: to external
  AND t1.ext_transfer = 0;                                -- Only update unset rows

%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE ext_transfer = 1
LIMIT 5;

In [9]:
%%sql
-- Drop table if it exists
DROP TABLE IF EXISTS {username}.phishing_data;

-- Create the table with the new column
CREATE TABLE {username}.phishing_data AS
SELECT
    *,
    CASE 
        WHEN attack_state = 'Phishing' THEN TRUE
        ELSE FALSE
    END AS is_phishing
FROM {username}.network_traffic_history;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [ ]:
%%sql
ALTER TABLE {username}.network_traffic_history_itd
ADD COLUMN high_data_volume_off_hours_internal INTEGER;

UPDATE {username}.network_traffic_history_itd
SET high_data_volume_off_hours_internal = CASE 
    WHEN off_hours = 1 
     AND is_internal_source = 1 
     AND bytes > (SELECT AVG(bytes) * 2 
                  FROM {username}.network_traffic_history_itd
                  WHERE off_hours = 1 AND is_internal_source = 1)
    THEN 1
    ELSE 0
END;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
Done.
4999980 rows affected.

[]

In [11]:
%%sql
SELECT * FROM {username}.network_traffic_history_itd
WHERE high_data_volume_off_hours_internal = 1
LIMIT 5;

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
5 rows affected.

[(datetime.datetime(2025, 5, 30, 18, 24, 31), '172.18.148.11', '172.19.27.254', 60481, 443, 'TCP', 4.452923153279565, 74, 81830, 1105.8108108108108, 16.61829711691728, 'ACK', 'HTTPS', 'Normal', 1, 'False', 18, 4, 18.376692609153256, 0.0, 1, 1, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 30, 18, 27, 29), '172.29.144.95', '192.168.141.186', 34193, 25, 'TCP', 4.208632044021808, 73, 82147, 1125.3013698630136, 17.3453034706832, 'FIN', 'SMTP', 'Normal', 1, 'False', 18, 4, 19.518693756249494, 555.6608491823628, 1, 2, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 30, 18, 34, 3), '10.83.116.10', '192.168.5.162', 6688, 443, 'TCP', 4.7233776213572884, 66, 89119, 1350.2878787878788, 13.973051763122537, 'FIN', 'HTTPS', 'Normal', 1, 'False', 18, 4, 18.867642425419962, 0.0, 1, 1, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 30, 18, 38, 33), '172.18.205.58', '172.29.65.43', 57479, 22, 'ICMP', 2.2345963191841873, 64, 80744, 1261.625, 28.640519744239665, 'SYN', 'SSH', 'Normal', 1, 'False', 18, 4, 36.13359572232637, 333.47731920746764, 1, 1, 1, 1, 1, 1, 0, 1),
 (datetime.datetime(2025, 5, 30, 18, 39, 15), '172.17.41.49', '192.168.138.120', 37020, 80, 'TCP', 20.545172664524454, 62, 83194, 1341.8387096774193, 3.0177405180466548, 'SYN', 'HTTP', 'Normal', 1, 'False', 18, 4, 4.049321042876991, 322.2035028274141, 1, 3, 1, 1, 1, 1, 0, 1)]

In [12]:
%%sql
SELECT COUNT(DISTINCT source_ip )FROM {username}.network_traffic_history_itd
WHERE high_data_volume_off_hours_internal = 1

 * postgresql://rowanm:***@ads1.datasci.vt.edu:5432/ads_db5
1 rows affected.

[(2918,)]